In [ ]:
import numpy as np
import pandas as pd
import matplotlib as plt

In order to load all 7 Million reviews at once, had to incrimentally add them to a growing Pandas Dataframe.

In [ ]:
reviews = pd.read_json('yelp_data.json', lines=True)

In [ ]:
reviews.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [ ]:
reviews2 = pd.read_json('yelp_data2M.json', lines=True)

In [ ]:
reviews_full1 = pd.concat([reviews, reviews2])

In [ ]:
reviews_full1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000000 entries, 0 to 999999
Data columns (total 9 columns):
review_id      object
user_id        object
business_id    object
stars          int64
useful         int64
funny          int64
cool           int64
text           object
date           datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 152.6+ MB

In [ ]:
reviews3 = pd.read_json('yelp_data3M.json', lines=True)

In [ ]:
reviews_full2 = pd.concat([reviews_full1, reviews3])

In [ ]:
reviews_full2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000000 entries, 0 to 999999
Data columns (total 9 columns):
review_id      object
user_id        object
business_id    object
stars          int64
useful         int64
funny          int64
cool           int64
text           object
date           datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 228.9+ MB

In [ ]:
reviews4 = pd.read_json('yelp_data4M.json', lines=True)

In [ ]:
reviews_full4 = pd.concat([reviews_full2, reviews4])

In [ ]:
reviews_full4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4000000 entries, 0 to 999999
Data columns (total 9 columns):
review_id      object
user_id        object
business_id    object
stars          int64
useful         int64
funny          int64
cool           int64
text           object
date           datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 305.2+ MB

In [ ]:
reviews5 = pd.read_json('yelp_data5M.json', lines=True)

In [ ]:
reviews_full5 = pd.concat([reviews_full4, reviews5])

In [ ]:
reviews_full5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000000 entries, 0 to 999999
Data columns (total 9 columns):
review_id      object
user_id        object
business_id    object
stars          int64
useful         int64
funny          int64
cool           int64
text           object
date           datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 381.5+ MB

In [ ]:
reviews6 = pd.read_json('yelp_data6M.json', lines=True)

In [ ]:
reviews_full6 = pd.concat([reviews_full5, reviews6])

In [ ]:
reviews_full6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6000000 entries, 0 to 999999
Data columns (total 9 columns):
review_id      object
user_id        object
business_id    object
stars          int64
useful         int64
funny          int64
cool           int64
text           object
date           datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 457.8+ MB

In [ ]:
reviews7 = pd.read_json('yelp_data7M.json', lines=True)

In [ ]:
reviews_full7 = pd.concat([reviews_full6, reviews7])

In [ ]:
reviews_full7.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6990280 entries, 0 to 990279
Data columns (total 9 columns):
review_id      object
user_id        object
business_id    object
stars          int64
useful         int64
funny          int64
cool           int64
text           object
date           datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 533.3+ MB

Once this was done, then merged the business info to each review so that we could group based on business attributes, such as location.

In [ ]:
business = pd.read_json('yelp_academic_dataset_business.json', lines=True)

In [ ]:
business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [ ]:
full_revs = pd.merge(reviews_full7, business, on='business_id')

In [ ]:
full_revs.head()

,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,name,...,state,postal_code,latitude,longitude,stars_y,review_count,is_open,attributes,categories,hours
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,Turning Point of North Wales,...,PA,19454,40.210196,-75.223639,3.0,169,1,"{'NoiseLevel': 'u'average'', 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B...","{'Monday': '7:30-15:0', 'Tuesday': '7:30-15:0'..."
1,VJxlBnJmCDIy8DFG0kjSow,Iaee7y6zdSB3B-kRCo4z1w,XQfwVwDr-v0ZS3_CbbE5Xw,2,0,0,0,This is the second time we tried turning point...,2017-05-13 17:06:55,Turning Point of North Wales,...,PA,19454,40.210196,-75.223639,3.0,169,1,"{'NoiseLevel': 'u'average'', 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B...","{'Monday': '7:30-15:0', 'Tuesday': '7:30-15:0'..."
2,S6pQZQocMB1WHMjTRbt77A,ejFxLGqQcWNLdNByJlIhnQ,XQfwVwDr-v0ZS3_CbbE5Xw,4,2,0,1,The place is cute and the staff was very frien...,2017-08-08 00:58:18,Turning Point of North Wales,...,PA,19454,40.210196,-75.223639,3.0,169,1,"{'NoiseLevel': 'u'average'', 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B...","{'Monday': '7:30-15:0', 'Tuesday': '7:30-15:0'..."
3,WqgTKVqWVHDHjnjEsBvUgg,f7xa0p_1V9lx53iIGN5Sug,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,We came on a Saturday morning after waiting a ...,2017-11-19 02:20:23,Turning Point of North Wales,...,PA,19454,40.210196,-75.223639,3.0,169,1,"{'NoiseLevel': 'u'average'', 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B...","{'Monday': '7:30-15:0', 'Tuesday': '7:30-15:0'..."
4,M0wzFFb7pefOPcxeRVbLag,dCooFVCk8M1nVaQqcfTL3Q,XQfwVwDr-v0ZS3_CbbE5Xw,2,0,0,0,"Mediocre at best. The decor is very nice, and ...",2017-09-09 17:49:47,Turning Point of North Wales,...,PA,19454,40.210196,-75.223639,3.0,169,1,"{'NoiseLevel': 'u'average'', 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B...","{'Monday': '7:30-15:0', 'Tuesday': '7:30-15:0'..."

## Exploring the Data:

trying to see which Business/Restaurant Categories are most common

In [ ]:
cat_counts = full_revs['categories'].value_counts()

In [ ]:
cat_counts.head()

Mexican, Restaurants          54938
Restaurants, Mexican          54872
Restaurants, Pizza            33984
Pizza, Restaurants            29508
Beauty & Spas, Nail Salons    28734
Name: categories, dtype: int64

Attempt to Filter Businesses based on Geographic Latitude/Longitude

In [ ]:
#Chat GPT
# Define the latitude and longitude range: Southern california
min_latitude = 32.30
max_latitude = 35.00
min_longitude = -120.00
max_longitude = -116.00

# Filter the DataFrame based on the range
filtered_df = full_revs[(full_revs['latitude'] >= min_latitude) & (full_revs['latitude'] <= max_latitude)] #&
                  #(full_revs['longitude'] >= min_longitude) & (full_revs['longitude'] <= max_longitude)]

In [ ]:
filtered_df['name'].value_counts()

Los Agaves                         5192
Brophy Bros - Santa Barbara        3003
Boathouse at Hendry's Beach        2588
Santa Barbara Shellfish Company    2444
Pickles & Swiss                    2060
                                   ...
L'Occitane en Provence                5
Helzberg Diamonds                     5
Mt. Lemmon SkyCenter                  5
Furniture Santa Barbara               5
Costa's Auto Works                    5
Name: name, Length: 6596, dtype: int64

In [ ]:
count_series = filtered_df.groupby('name')['name'].transform('count')

# Filter the DataFrame based on the desired count
filtered_df2 = filtered_df[count_series >= 10]

In [ ]:
filtered_df2

,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,name,...,state,postal_code,latitude,longitude,stars_y,review_count,is_open,attributes,categories,hours
1362,ZKvDG2sBvHVdF5oBNUOpAQ,wSTuiTk-sKNdcFyprzZAjg,B5XSoSG3SfvQGtKEGQ1tSQ,3,1,1,0,This easter instead of going to Lopez Lake we ...,2016-03-30 22:46:33,Los Padres National Forest,...,CA,93105,34.597239,-119.510772,4.5,13,1,"{'GoodForKids': 'True', 'BikeParking': 'True',...","Parks, Active Life",None
1363,9ag-bC-521T1i3IypXr4Ug,sx_cqxyWRUoOIoy_AXmLdQ,B5XSoSG3SfvQGtKEGQ1tSQ,4,1,0,0,I work with a college group that does camping ...,2013-09-07 21:16:36,Los Padres National Forest,...,CA,93105,34.597239,-119.510772,4.5,13,1,"{'GoodForKids': 'True', 'BikeParking': 'True',...","Parks, Active Life",None
1364,80p5xO3dbpd80T6vPTL8DQ,D7ct4p7uUk5t4LFSjVnO4A,B5XSoSG3SfvQGtKEGQ1tSQ,5,0,0,0,My SO and I love exploring new trails and so i...,2018-08-05 21:50:27,Los Padres National Forest,...,CA,93105,34.597239,-119.510772,4.5,13,1,"{'GoodForKids': 'True', 'BikeParking': 'True',...","Parks, Active Life",None
1365,RScubg9WIp165432dQfVHQ,r9VkVP_4d2_KMHA9ZN2c6w,B5XSoSG3SfvQGtKEGQ1tSQ,5,14,9,13,I can't believe there's only one review for th...,2011-07-06 23:14:29,Los Padres National Forest,...,CA,93105,34.597239,-119.510772,4.5,13,1,"{'GoodForKids': 'True', 'BikeParking': 'True',...","Parks, Active Life",None
1366,_JsMDKDQJ8uc6logHxA0-w,s0l9vVweCwvudj5TNGMl6w,B5XSoSG3SfvQGtKEGQ1tSQ,5,1,0,0,I love this area for hiking! I go there all th...,2016-04-03 03:24:46,Los Padres National Forest,...,CA,93105,34.597239,-119.510772,4.5,13,1,"{'GoodForKids': 'True', 'BikeParking': 'True',...","Parks, Active Life",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6988150,1Zhbvxdm864S2HcL8BpXZQ,ESNU8cp_QjU4HZwpbDam_w,kyX6GgYDlgS7mH2vPZ22AQ,5,0,0,0,"Dr Rogers is friendly, upbeat and knowledgeabl...",2021-08-04 16:07:51,"Alexandra Rogers, MD",...,CA,93110,34.450155,-119.760105,5.0,10,1,None,"Urologists, Doctors, Health & Medical",None
6988151,No7Zzi7uhyoL4miSkcgrZA,VSaePmxk-hmIxENKuf0e2g,kyX6GgYDlgS7mH2vPZ22AQ,5,0,0,0,Excellent doctor and staff - do not hesitate t...,2021-07-02 18:13:57,"Alexandra Rogers, MD",...,CA,93110,34.450155,-119.760105,5.0,10,1,None,"Urologists, Doctors, Health & Medical",None
6988152,Zv5y9-o5aA_hh-w-glcalQ,0yZaCOv149QEEGwPgqqF7A,kyX6GgYDlgS7mH2vPZ22AQ,5,0,0,0,"Without a doubt Dr. Rogers, is by far one of t...",2021-09-15 02:15:21,"Alexandra Rogers, MD",...,CA,93110,34.450155,-119.760105,5.0,10,1,None,"Urologists, Doctors, Health & Medical",None
6988153,2NrvbQvYjp6QNTD3U4KecA,i22dHhNeMqRXHTZmKrrobw,kyX6GgYDlgS7mH2vPZ22AQ,4,0,0,0,Dr. Rogers provided has provided excellent car...,2021-05-15 19:27:44,"Alexandra Rogers, MD",...,CA,93110,34.450155,-119.760105,5.0,10,1,None,"Urologists, Doctors, Health & Medical",None
6988154,NdfLWFU21SJxoi_xDkl91Q,5ZYxX2206Z5i58HhNFgtgw,kyX6GgYDlgS7mH2vPZ22AQ,5,0,0,0,I had a great first visit with Dr. Rogers toda...,2021-06-07 20:06:48,"Alexandra Rogers, MD",...,CA,93110,34.450155,-119.760105,5.0,10,1,None,"Urologists, Doctors, Health & Medical",None

In [ ]:
filtered_df_restaurants = filtered_df2[filtered_df2['categories'].str.contains('Restaurants', case=False)]

In [ ]:
filtered_df_restaurants.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 266991 entries, 1375 to 6981999
Data columns (total 22 columns):
review_id       266991 non-null object
user_id         266991 non-null object
business_id     266991 non-null object
stars_x         266991 non-null int64
useful          266991 non-null int64
funny           266991 non-null int64
cool            266991 non-null int64
text            266991 non-null object
date            266991 non-null datetime64[ns]
name            266991 non-null object
address         266991 non-null object
city            266991 non-null object
state           266991 non-null object
postal_code     266991 non-null object
latitude        266991 non-null float64
longitude       266991 non-null float64
stars_y         266991 non-null float64
review_count    266991 non-null int64
is_open         266991 non-null int64
attributes      266965 non-null object
categories      266991 non-null object
hours           258708 non-null object
dtypes: datetime64[ns](1), float64(3), int64(6), object(12)
memory usage: 46.9+ MB

This resulting filtered dataframe is all reviews specifically for restaurants in an area that approximates Southern California

In [ ]:
#Chat GPT
# Define the latitude and longitude range
min_latitude = 32.30
max_latitude = 35.00
min_longitude = -74.50
max_longitude = -73.50

# Filter the DataFrame based on the range
filtered_nyc = full_revs[(full_revs['latitude'] >= min_latitude) & (full_revs['latitude'] <= max_latitude)] #&
                  #(full_revs['longitude'] >= min_longitude) & (full_revs['longitude'] <= max_longitude)]

In [ ]:
filtered_nyc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59488 entries, 1362 to 999992
Data columns (total 22 columns):
review_id       59488 non-null object
user_id         59488 non-null object
business_id     59488 non-null object
stars_x         59488 non-null int64
useful          59488 non-null int64
funny           59488 non-null int64
cool            59488 non-null int64
text            59488 non-null object
date            59488 non-null datetime64[ns]
name            59488 non-null object
address         59488 non-null object
city            59488 non-null object
state           59488 non-null object
postal_code     59488 non-null object
latitude        59488 non-null float64
longitude       59488 non-null float64
stars_y         59488 non-null float64
review_count    59488 non-null int64
is_open         59488 non-null int64
attributes      58525 non-null object
categories      59488 non-null object
hours           55828 non-null object
dtypes: datetime64[ns](1), float64(3), int64(6), object(12)
memory usage: 10.4+ MB

In [ ]:
state_counts = full_revs['state'].value_counts()

In [ ]:
state_counts

PA     1598960
FL     1161545
LA      761673
TN      614388
MO      502385
IN      489752
AZ      431708
NV      430678
CA      348856
NJ      260897
ID      157572
AB      109436
DE       70302
IL       51832
MA          44
SD          42
TX          35
HI          34
CO          31
NC          29
WA          19
UT          19
VI          11
MI          11
VT          10
MT           6
XMS          5
Name: state, dtype: int64